[Unit]
Description=swatch service

[Service]
Type=forking
ExecStart=/usr/local/bin/swatchctl start
ExecStop=/usr/local/bin/swatchctl stop
Restart=always
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
